.rectangle {
    width: 380px;
    height: 250px;
    background: conic-gradient(
        #721AAB 0deg 120deg, 
        #B42C96 120deg 240deg, 
        #521AF0 240deg 360deg
    ); 
    border-radius: 20px;
    filter: blur(90px); 
    display: flex;
    justify-content: center;
    align-items: center;
}
