.button2{
    width: 200px;
    height: 60px;
    border-radius: 33px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

.button2:hover{
    background-color:rgba(220, 220, 255, 1);
}