.language-switcher {
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 1000;
}

.switch-container {
    position: relative;
}

.switch-btn {
    width: 60px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border: none;
    position: relative;
    transition: background-color 0.3s;
}

.switch-circle {
    width: 20px;
    height: 20px;
    background-color: rgba(26, 11, 46, 1);
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
}

.switch-pt .switch-circle {
    left: 5px; 
}

.switch-en .switch-circle {
    right: 5px;
}

.flag {
    width: 20px;  
    height: 20px; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flag.br {
    left: 6px; 
}

.flag.us {
    right: 6px;
}

.switch-btn:hover {
    background-color: rgb(36, 7, 75); 
}

.switch-btn:hover .switch-circle {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
