.ellipse-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;
}

.ellipse {
    position: absolute; 
    width: 18vw;  
    height: 18vw; 
    border-radius: 50%;
    background: conic-gradient(
        #a15ace 0deg 120deg,
        #4C007D 120deg 240deg,
        #B42C96 240deg 360deg
    );
    filter: blur(40px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.ellipse-imagem {
    position: relative; 
    width: 70%; 
    height: auto; 
    object-fit: cover;
    object-position: center; 
    z-index: 2; 
}

@media (max-width: 768px) {
    .ellipse-container {
        height: auto;  
        padding: 15px 0; 
    }

    .ellipse {
        width: 40vw;  
        height: 40vw;
    }

    .ellipse-imagem {
        width: 50%; 
        height: auto;
    }
}

@media (max-width: 480px) {
    .ellipse-container {
        height: auto;  
        padding: 25px 0; 
    }

    .ellipse {
        width: 55vw;  
        height: 55vw;
    }

    .ellipse-imagem {
        width: 50%; 
        height: auto;
    }
}
